body {
	font-weight: 300;
	margin: 0;
    font-family: 'Barlow', sans-serif;
}

.frame {
	height: 100vh;
	width: 100vw;
	border: solid;
	margin: 0 auto;
	background-color: black;
}

.title {
	color: white;
	font-size: 20px;
	padding: 5px 10px;
	text-align: center;
}

.inputbox {
	color: white;
	border-style:solid;
	border-radius: 30px;
	border-color: black;
	background-color: white;
	width: 90%;
	height: 30vh;
	margin: 0 auto;
}

.inputtab {
	width: 90%;
	margin: 0 auto;
	height: 20vh;
}

.inputtab td:nth-of-type(1) {
	text-align: left;
}
.inputtab td:nth-of-type(2) {
	text-align: center;
}
.inputtab td:nth-of-type(3) {
	text-align: right;
}

.country {
	color: black;
	font-size: 20px;
	font-weight: bold;
	width: 100%;
    font-family: 'Barlow', sans-serif;
}

.inputvalue {
	color: black;
	font-size: 20px;
	font-weight: bold;
	width: 100%;
	min-width: 50px;
    font-family: 'Barlow', sans-serif;
}

.selectvalue {
	color: black;
	font-size: 20px;
	font-weight: bold;
	width: 100%;
	min-width: 130px;
	border: 0px;
	appearance: none;
    font-family: 'Barlow', sans-serif;
}

input {
	border:none;
	outline:medium;
}

.inputtab2{
	width: 90%;
	height: 10vh;
	margin: 0px auto;
}

.inputtab2 td {
	text-align: center;
}

.swapbutton {
	font-size: 15px;
	width: 70px;
	color: black;
	background-color: white;
	font-weight: bold;
}

.dropdown {
	font-size: 15px;
	border: 0px;
	appearance: none;
    font-family: 'Barlow', sans-serif;
}

.numberpad {
	width: 90%;
	height: 60vh;
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
	background-color:black;
	border: 1px;
}

.button {
	text-align: center;
	text-decoration: none;
	background-color:ffffff;
}
.ukflag {
	height:100px;
}
.abutton {
	width: 100%;
	height: 100%;
	font-size: 40px;
	border-color: black;
	color: white;
	background-color: #000000;
    font-family: 'Spartan', sans-serif;
	font-weight: 300;
}
.abutton1 {
	width: 100%;
	height: 100%;
	background-color: #000000;
	color: yellow;
	font-size: 40px;
	border-color: black;
    font-family: 'Spartan', sans-serif;
	font-weight: 300;
}
.abutton2 {
	width: 100%;
	height: 100%;
	background-color: #000000;
	color: white;
	font-size: 25px;
	border-color: black;
    font-family: 'Spartan', sans-serif;
	font-weight: 200;
}
